.welcome {
    height: 100vh;
}

.welkum {
    position: relative;
    left: 20vw;
    text-align: left;
    width: 50vw;
    font-weight: 300;
    font-size: calc(40px + 10vmin);
    color: #2C3E50;
    margin: 0px;
    z-index: 5;
    transform: translateY(25px)
}

.accent-punct {
    color: #E74C3C;
}

.text-box {
    position: relative;
    left: 25vw;
    width: 50vw;
    padding: 2vh 4vw;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    font-size: calc(3px + 2vmin);
    line-height: 1.5rem;
    color: #2C3E50;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}