.footer {
    background-color: #2C3E50;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(4px + 2vmin);
    color: #ECF0F1;
}

.ball {
  height: 40px;
}